.benefits__content_ivzmd,
.benefits__content__box_1mMht {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits__content_ivzmd {
  width: 100%;
  margin-top: 40px;
}

.benefits__content__box_1mMht {
  margin-bottom: 40px;
}

.benefits__content__box__icon_2gnhp {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.icon_2m0vQ {
  width: 100%;
  height: 100%;
}

.benefits__content__box__info_QVyOJ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits__content__box__info__title_3mvtQ {
  font-family: TUITypeLtBd, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.benefits__content__box__info__subtitle_3AQp4 {
  font-family: TUITypeLt, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.benefits__content__box_1mMht {
  margin-bottom: 40px;
}

.benefits__content__box__icon_2gnhp {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.icon_2m0vQ {
  width: 100%;
  height: 100%;
}

.benefits__content__box__info_QVyOJ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits__content__box__info__title_3mvtQ {
  font-family: TUITypeLtBd, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.benefits__content__box__info__subtitle_3AQp4 {
  font-family: TUITypeLt, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.benefits__content_ivzmd,
.benefits__content__box_1mMht {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits__content__box_1mMht {
  margin-bottom: 40px;
}

.benefits__content__box__icon_2gnhp {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.icon_2m0vQ {
  width: 100%;
  height: 100%;
}

.benefits__content__box__info_QVyOJ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits__content__box__info__title_3mvtQ {
  font-family: TUITypeLtBd, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.benefits__content__box__info__subtitle_3AQp4 {
  font-family: TUITypeLt, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

@media (min-width: 768px) {
  .benefits__content_ivzmd {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
  }

  .benefits__content__box_1mMht {
    margin-bottom: 0;
    flex-direction: row;
  }

  .benefits__content__box__icon_2gnhp {
    margin-bottom: 0;
    margin-right: 15px;
  }

  .benefits__content__box__info_QVyOJ {
    max-width: 174px;
    align-items: flex-start;
  }

  .benefits__content__box_1mMht {
    margin-bottom: 0;
    flex-direction: row;
  }

  .benefits__content__box__icon_2gnhp {
    margin-bottom: 0;
    margin-right: 15px;
  }

  .benefits__content__box__info_QVyOJ {
    max-width: 174px;
    align-items: flex-start;
  }
}
