.home__benefits {
  display: block;
  box-sizing: border-box;
  background-color: #fff;
}

.home__benefits__content {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 15px;

  @media(min-width:1024){
    padding: 40px 60px;
  }
}

.home__benefits__content__section {
  width: calc(100% + 30px);
  margin-left: -15px;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.title__h2 {
  font-size: 22px;
  line-height: 26px;
}

.benefits__subtitle {
  font-family: TUIType, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-top: 5px;
  color: #333;
}

.benefits__video {
  padding: 56.25% 0 0;
  position: relative;
  height: 180px;
  width: 100%;
  margin-top: 30px;
  
  @media(min-width:1024){
    height: 350px;
  }
}

.benefits__embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video {
  width: 100%;
}

@media (min-width: 768px) {
  .benefits {
    width: 100%;
  }

  .title__h2 {
    font-size: 26px;
    line-height: 30px;
  }

  .benefits__video {
    height: 250px;
  }
}
