* {
  box-sizing: border-box;
}

.gallery {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 105;

  .gallery__carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    .gallery__carousel__slide {
      background-color: rgba(0,0,0,.75);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 100vw;
      height: 100vh;
      scroll-snap-align: start;

      .gallery__carousel__slide__image {
        height: 100%;
        width: 70%;
        max-height: 70%;
        display: flex;
        flex-direction: column;

        .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .gallery__carousel__slide__text {
          font-family: TUIType,"Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 18px;
          color: #fff;
          margin-top: 10px;
          align-self: flex-end;
        }
      }
    }
  }

  .carousel__close_icon {
    position: absolute;
    right: 20px;
    width: 20px;
    top: 20px;
    cursor: pointer;

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  .gallery__right_nav,
  .gallery__left_nav {
    position: absolute;
    width: 14px;
    top: calc(50% - 7px);
    cursor: pointer;

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  .gallery__right_nav {
    right: 20px;
  }    
    
  .gallery__left_nav {
    left: 20px;
  }   
}