.header {
    position: sticky;
    top:0;
    left: 0;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    z-index: 100;
    width: 100%;
    background-color: #70cbf4;
    border-bottom: 1px solid #70cbf4;
    
    img {
        display: flex;
        height: 30px;
        width: 67px;
        cursor: pointer;
    }
}

@media (min-width: 1024px){
    .header {
        justify-content:left;
        padding: 15px 35px;
        height: 77px;
    
        img {
            height: 35px;
            width: 80px;
        }
    }
}