* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

section {
  display: block;
}

.topCities {
  margin-bottom: 33px;

  .title__h2 {
    font-size: 22px;
    line-height: 26px;
  
    font-family: TUITypeLtBd,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #232323;
  }

  .topcities__title {
    padding-bottom: 10px;
  }

  .topCities__Carousel {
    margin-bottom: 20px;
    min-height: 180px;
   
    .carousel {
      width: 100%;
      position: relative;

      .carousel__slot {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
        padding: 0 0 10px;
        margin: 0 0 -10px;
        scroll-snap-type: x mandatory;

        .top__city {
          cursor: pointer;
        }
      }

      .carousel__slot::-webkit-scrollbar {
        display: none;
      }
      
      .carousel__slot > * {
        margin-right: 16px;
        scroll-snap-align: start;
      }
    }
  }

 
}

@media (min-width: 768px) {
  .topCities {
    margin-bottom: 29px;
    
    .title__h2 {
      font-size: 26px;
      line-height: 30px;
    }
        
    .topCities__Carousel {
      margin-bottom: 33px;

      .carousel__navigator {
        height: calc(100% - 10px);
        
        justify-content: center;
        align-items: center;
        position: absolute;
        opacity: 0.8;
        top: 0;
        bottom: 0;
        z-index: 1;
        background-color: rgba(242,245,246,.65);
        user-select: none;
        cursor: pointer;

        .carousel__arrow {
          display: flex;
          height: 100%;
          justify-content: center;
          align-items: center;
          cursor: pointer;
  
          .icon__left {
            transform: rotate(180deg);
          }
        }
      }
     
      .carousel__navigator__left {
        left: 0;
      }

      .carousel__navigator__right {
        right: 0;
      }
      
      .carousel__navigator__disabled {
        display: none;
      }
    }
  }
}

@media (min-width: 1024px) {
  .topCities {
    position: relative;
    
    .topCities__Carousel {
      margin-bottom: 65px;
      
      .carousel__navigator {
        width: 66px;
      }
    }
  }
}

@media (max-width: 768px) {
  .carousel__arrow {

    .icon {
      display: none;
    }
  }
}




