.ActivityContentHead{
    //row 3, 4, 11, 15, 16  to be deleted after mounting
    min-height: 40vh;
    padding: 15px;

    background-color: white;
    font-family: TUIType,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;

    @media (min-width: 768px){ //activity_body_content
        padding: 0 30px;
    }

    @media (min-width: 1024px) {  //activity_body_content
        padding: 0 0 0 50px;
        width: 100%;
    }


    .categories, .categories__label {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .categories__label:first-child {
        color: #fff;
        border: initial;
        background-color: #092a5e;
    }

    .categories__label {
        font-family: TUIType,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        padding: 4px 10px;
        color: #333;
        border: 1px solid #dce4e6;
        text-transform: uppercase;
        background-color: #fff;
        margin: 3px 10px 3px 0;
        white-space: nowrap;
        @media (min-width: 768px){
            margin: 0 10px 0 0;
        }
    }

    .tuiCategories_collection__label {
        font-family: TUITypeLtBd,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 12px;
        background-color: #092a5e;
        color: #fff;
        padding: 4px 11px;
        white-space: nowrap;
    }
    
    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 10px;
        @media (min-width: 1024px){
            padding: 20px 0;
        }
        @media (min-width: 768px){
            padding-top: 10px;
            padding-bottom: 15px;
        }

        .title__h1, .title__h2 {
            font-family: TUITypeLtBd,"Helvetica Neue",Helvetica,Arial,sans-serif;
            color: #232323;
            font-size: 24px;
            line-height: 28px;
            @media (min-width: 1024px){
                font-family: TUITypeLtBd,"Helvetica Neue",Helvetica,Arial,sans-serif;
            }
            @media (min-width: 1024px){
                font-size: 32px;
                line-height: 38px;
            }
            @media (min-width: 768px) {
                font-family: TUITypeLtBd,"Helvetica Neue",Helvetica,Arial,sans-serif;
            }
            @media (min-width: 768px){
                font-size: 28px;
                line-height: 32px;
            }
        }
    }
    
    .info {
        margin: 15px 0;

        @media (min-width: 1024px){
            margin: 20px 0;
        }

        .info__container {
            display: flex;
            flex-wrap: wrap;
            border-top: 1px solid #dce4e6;

            .info__container__row {
                font-family: TUITypeLt,"Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 14px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: #232323;
                width: 100%;
                padding: 15px 0;
                @media (min-width: 1024px){
                    font-family: TUITypeLt,"Helvetica Neue",Helvetica,Arial,sans-serif;
                    font-size: 20px;
                    width: 50%;
                    padding: 20px 10px 20px 0;
                }
                @media (min-width: 768px){
                    font-family: TUITypeLt,"Helvetica Neue",Helvetica,Arial,sans-serif;
                    font-size: 18px;
                }

                .free_cancellation_container {
                    display: flex;
                    align-items: flex-start;

                    .icon {
                        padding-right: 12px;

                        img {
                            width: 24px;
                            height: 22px;
                        }
                        img:not(:root) {
                            overflow: hidden;
                        }
                    }

                    .info__free_cancellation {
                        color: #69bc6b;
                    }   
                }

                .info__container__row__icon{
                    width: 22px;
                    min-width: 22px;
                    height: 20px;
                    margin-right: 10px;
                    @media (min-width: 768px){
                        width: 24px;
                        height: 22px;
                        margin-right: 15px;
                    }

                    .icon {
                        width: 100%;
                        height: 100%;
                    }

                    img {
                        border-style: none
                    }
                }

                .info__container__row__label {
                    font-family: TUIType,"Helvetica Neue",Helvetica,Arial,sans-serif;
                    font-size: 14px;
                    margin-right: 3px;
                    @media (min-width: 1024px){
                        font-family: TUIType,"Helvetica Neue",Helvetica,Arial,sans-serif;
                        font-size: 20px;
                    }
                    @media (min-width: 768px){
                        font-family: TUIType,"Helvetica Neue",Helvetica,Arial,sans-serif;
                        font-size: 18px;
                    }
                }
           
            

                .duration, .duration__theme_card__icon {
                    display: flex;
                    align-items: center;
                    height: 100%;
                }

                .duration {
                    
                    .duration__theme_activity_info__icon {
                        width: 22px;
                        min-width: 22px;
                        height: 20px;
                        margin-right: 10px;
                        @media (min-width: 768px) {
                            width: 24px;
                            height: 22px;
                            margin-right: 15px;
                        }
        
                        .icon {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .features {
        background: #f2f5f6;
        padding: 10px 0;
        border-radius: 10px;
        overflow: hidden;
        @media (min-width: 1024px){
            font-family: TUITypeLt,"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 20px;
            max-width:810px,
        }
        @media (min-width: 768px){
            font-family: TUITypeLt,"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 18px;
        }

        span:first-child{
            @media (min-width: 1024px){
            font-family: TUIType,"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 20px;
            }
            @media (min-width: 768px){
                font-family: TUIType,"Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 18px;
            }
        }

        .carousel {
            width: 100%;
            position: relative;

            .carousel__slot>* {
                margin-right: 16px;
                scroll-snap-align: start;
            }

            .carousel__slot {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: hidden;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
                scroll-behavior: smooth;
                padding: 0 0 10px 0;
                margin: 0 0 -10px 0;
                -ms-scroll-snap-type: x mandatory;
                scroll-snap-type: x mandatory;
                @media(min-width:1024px){
                    overflow-x: hidden;
                }

                .features__box {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    min-width: 150px;
                    max-width: 150px;

                    .features__box__icon {
                        min-width: 28px;
                        height: 28px;
                        width: 28px;
                        margin: 0 8px;
                        @media (min-width: 1024px){
                            min-width: 35px;
                            height: 35px;
                            width: 35px;
                        }
                        @media (min-width: 768px){
                            min-width: 31px;
                            height: 31px;
                            width: 31px;
                            margin: 0 10px;
                        }

                        .icon {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .features__box__text {
                        font-family: TUITypeLt,"Helvetica Neue",Helvetica,Arial,sans-serif;
                        font-size: 14px;
                        color: #232323;
                        @media (min-width: 768px){
                            font-family: TUITypeLt,"Helvetica Neue",Helvetica,Arial,sans-serif;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}