.ActivityHero {
  @media (min-width: 768px) {
    background-color: #fff;
    padding: 0 14px;
  }
  @media (min-width: 1024px) {
    padding: 0 50px;
  }

  .hero_wrapper {
    position: relative;
    overflow: hidden;

    .hero_image {
      position: relative;
      height: 400px;
      @media (min-width: 1441px) {
        height: 600px;
      }
    }
    .hero_carousel {
      height: 200px;
      @media (min-width: 768px) {
        height: 280px;
      }

      .gallery {
        position: relative;

        .gallery_carousel {
          height: 200px;
          width: 100%;
          -ms-scroll-snap-type: x mandatory;
          scroll-snap-type: x mandatory;
          overflow-x: scroll;
          overflow-y: hidden;
          display: flex;
          align-items: center;
          -webkit-overflow-scrolling: touch;

          .gallery_carousel_image {
            min-width: 100%;
            scroll-snap-align: center;
            position: relative;
          }
        }
        .gallery_dots_box {
          position: absolute;
          display: flex;
          justify-content: center;
          bottom: 10px;
          right: 0;
          left: 0;
          .dot {
            border-radius: 50%;
            width: 8px;
            height: 8px;
            margin-right: 8px;
            background-color: hsla(0, 0%, 100%, 0.6);
          }
          .dot__active {
            background-color: #fff;
          }
        }
      }
    }
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .button_wrapper {
    position: absolute;
    bottom: 25px;
    left: 50px;
    height: 50px;
    min-width: 150px;

    .button {
      font-family: TUITypeLtBd, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      cursor: pointer;
      overflow: hidden;
      border-radius: 5px;
      padding: 5px 10px;
      color: #333;
      background-color: #fff;
      width: 100%;
      height: 100%;
      font-size: inherit;
      border: 1px solid #dce4e6;
      outline: none;
    }
    .button_icoBox {
      display: flex;
      justify-content: center;
      align-items: center;
      .icoBox_icon {
        max-width: 22px;
        max-height: 22px;
        margin-right: 10px;
        .icon {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
