.Home {
  .destination_slot {
    height: 200px;
    min-width: 280px;
    border-radius: 5px;

    @media (min-width: 1024px) {
      box-shadow: 0 2px 10px 0 rgba(35, 35, 35, 0.15);
      min-width: 318px;
      max-width: 319px;
    }
  }

  .activity_slot {
    min-width: 280px;
    max-width: 281px;

    @media (min-width: 1024px) {
      box-shadow: 0 2px 10px 0 rgba(35, 35, 35, 0.15);
      min-width: 318px;
      max-width: 319px;

      height: 395px;
    }
  }
}
.Home_wrapper {
  .top_section {
    max-width: 1440px;
    margin: auto;
    background-color: #f2f5f6;
    padding: 100px 15px 47px;

    @media (min-width: 768px) {
      padding: 51px 15px;
    }
    @media (min-width: 1024px) {
      padding: 64px 60px 70px;
    }
  }
  .middle_section {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    padding: 30px 15px;

    @media (min-width: 1024px) {
      padding: 40px 60px;
    }
  }
}
